body{
    margin: 0;
}

.form-check{
    display: inline-block;
}

.my-button{
    z-index: 2;
    border: 2px solid #1a8fe3;
    background-size: contain !important;
    border-radius: 5%;
    cursor: pointer;
}

#num-particles-button{
    background: url('images/NumParticlesIcon.png');
}

#bg-color-button{
    background: url('images/BGIcon.png');
}

#fg-color-button{
    background: url('images/FGIcon.png');
}

#sym-button{
    background: url('images/SymIcon.png');
}

#dz-button{
    background: url('images/DZIcon.png');
}

#scale-button{
    background: url('images/ScaleIcon.png');
}

#defaultCanvas0{
    z-index: -1;
}

.noty_body{
    font-size: 2vh !important;
}
